<p>
  display-page works!
</p>
<div  >
    <label class="container">
        <input type="radio"  name="radio" (click)="getText('txt')">Text
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" name="radio" (click)="getText('img')">Image
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" name="radio" (click)="getText('vdo')">Video
        <span class="checkmark"></span>
      </label>
</div>
<div  *ngIf="expres == 'T'">
    <div class="containerForm">
        <div class="row">
            <button class="fontStyle" (click)="setFont('I')" title="Italicize Highlighted Text"><i>I</i>
            </button>
            <button class="fontStyle" (click)="setFont('B')" title="Bold Highlighted Text"><b>B</b>
            </button>
            <button class="fontStyle" (click)="setFont('U')"><u>U</u>
            </button>
            <div class="col-md-6 offset-md-3">
              
                <form name="form" (ngSubmit)="f.form.valid && textSubmit()" #f="ngForm" novalidate>
                    <!--<div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
                        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                            <div *ngIf="firstName.errors.required"><span style="color:red"> Name is required</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
                        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                            <div *ngIf="lastName.errors.required"><span style="color:red">Last Name is required</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required"><span style="color:red">Email is required</span></div>
                            <div *ngIf="email.errors.email"><span style="color:red">Email must be a valid email address</span></div>
                        </div>
                    </div> -->
                    <div class="form-group" >
                        <label for="subject"><strong>Subject</strong></label>
                        
                        <textarea id="subject" class="form-control" name="subject" placeholder="Write something.." 
                        style="height:165px" [(ngModel)]="model.subject" #subject="ngModel" rows="4" cols="50"
                        [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }" 
                        required maxlength="500"></textarea>
                        <!-- <div id="subject" contenteditable="true" [(ngModel)]="model.subject" #subject="ngModel" name="subject"
                        class="form-control" (change)="write($event)">
                            
                         </div> -->
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" *ngIf="showSubmit">                                             
                    </div>
                    
                </form>
                <div >
                    <button class="button button4" (click)="updateDisplay(model)" *ngIf="!showSubmit">Update</button> 
                </div>
                <!-- <div id="editor" #tref> 
                    <label for="write"><strong>Handwriting</strong></label>
                    <textarea id="write" class="form-control" name="write" placeholder="Write here.." rows="4" 
                    cols="50"></textarea>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div  *ngIf="expres == 'I'">
    <div class="containerForm">
        <div class="row">
            <div class="col-md-6 offset-md-3">  
                <form name="imageform" (ngSubmit)="imageSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="dimage">Choose your image here: </label>
                        <input type="file" class="form-control" name="dimage" [(ngModel)]="imageObj.dimage" #dimage="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && dimage.invalid }" (change)="onFileChanged($event)" required />
                        <div *ngIf="f.submitted && dimage.invalid" class="invalid-feedback">
                            <div *ngIf="dimage.errors.required"><span style="color:red">Please select an Image</span></div>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="imgInfo">Description:</label> 
                        <textarea id="imgInfo" class="form-control" name="imgInfo" placeholder="Write something.." 
                        style="height:150px" [(ngModel)]="imageObj.imgInfo" #imgInfo="ngModel" rows="4" cols="50"
                        [ngClass]="{ 'is-invalid': f.submitted && imgInfo.invalid }" required maxlength="500"></textarea>                        
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="containerForm" *ngIf="expres == 'T'">
    <div class="row">
        <div class="col-md-6 offset-md-3">  
            <strong style="font:bold 20px arial,serif; color: red;">Content</strong>
            <div class="form-group" *ngFor="let dispObj of displayList;">
                <div *ngIf="dispObj.bold=='Y'"><span style="font:bold 17px arial,serif; text-Decoration:''">{{dispObj.textInfo}}</span></div>
                <div *ngIf="dispObj.italic=='Y'"><span style="font:italic 17px arial,serif; text-Decoration:''">{{dispObj.textInfo}}</span></div>
                <div *ngIf="dispObj.underline=='Y'"><span style="font:17px arial,serif ; text-decoration: underline;">{{dispObj.textInfo}}</span></div>
                <button class="button button2" (click)="editDisplay(dispObj)">Edit</button>
                <button class="button button3" (click)="deleteDisplay(dispObj.displayId)">X</button>
                
            </div>
        </div>  
    </div>
</div>
<div  *ngIf="expres == 'V'">
    <div class="containerForm">
        <div class="row">
            <div class="col-md-6 offset-md-3">  
                <form name="vdoform"  #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="dimage">Watch your Video here: </label>
                        <!-- <input type="file" class="form-control" name="dimage" [(ngModel)]="imageObj.dimage" #dimage="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && dimage.invalid }" (change)="onFileChanged($event)" required />
                        <div *ngIf="f.submitted && dimage.invalid" class="invalid-feedback">
                            <div *ngIf="dimage.errors.required"><span style="color:red">Please select an Image</span></div>
                            
                        </div> 
                        <div class="iframe-container">
                            <iframe width="560" height="515" src="https://www.youtube.com/embed/668nUCeBHyY" frameborder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>-->
                        <div class="iframe-container">
                            <iframe width="560" height="515" src="http://localhost:8080/html/" frameborder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                   
                   
                </form>
            </div>
        </div>
    </div>
</div>


