body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    z-index: 21;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  .v-center-block {
    /*position: absolute;
    top: 50%;
    transform: translateY(-50%);*/
    padding: 0 0 0 0;
    
    height:45px;
    padding-bottom:5px;
    margin-left:5px;
}
.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: -11;
  /*top: 0;*/
  left: 0;
  background-color: #D3D3D3;
  overflow-x: hidden;
  padding-top: 20px;
}
.main {
  margin-left: 230px; /* Same as the width of the sidenav */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px 5px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  
}